<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <a href="/">Back to Tracker</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="menu-text">
                <h1 class="text-center">Fitness Dashboard</h1>
            </li>
        </ul>
    </div>
</div>
<main class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6 card">
            <div class="grid-x">
                <div class="cell">
                    <h3>Intensity minutes for the week</h3>
                </div>
                <div class="cell" id="intensityMinutes">

                </div>
            </div>

        </div>
        <div class="cell medium-6 card">
            <div class="grid-x">
                <div class="cell">
                    <h3>Exercises done</h3>
                </div>
                <div class="cell" id="totalEx">
                </div>
            </div>

        </div>
        <div class="cell medium 6 card">
            <div class="grid-x">
                <div class="cell text-center">
                    <h3>Exercise type preference</h3>
                </div>
                <div class="cell" id="type">
                </div>
            </div>

        </div>
    </div>
</main>

<footer class="text-center">
    <h4>Thank you, come again!</h4>
    <p>&copy; 2020 <a href="https://github.com/maria-helbling" target="blank"> Maria Helbling</a></p>
</footer>
<script src= 
"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> 
</script> 
<script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js"></script>
<script src="/js/stats.js"></script>